body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

h1 {
  font-size: 50px;
}

.grid {
  display: flex;
}

.col {
  display: flex;
  border: 1px solid black;
  padding: 20px;
}

.btn {
  padding: 10px 25px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(250, 235, 215);
}

.btn:hover {
  background-color: rgb(206, 145, 64);
  cursor: pointer;
  color: white;
}
