body {
  display: flex;
  font-family: "Delicious Handrawn", cursive;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: rgb(240, 204, 158);
}

.container {
  display: flex;
  flex-direction: column;
  width: 768px;
  height: 768px;
  margin-bottom: 50px;
}

h1 {
  font-size: 50px;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-grow: 1;
  border: 1px solid black;
  width: calc(768px / 16);
  height: calc(768px / 16);
  background-color: white;
}

.btn {
  font-family: "Delicious Handrawn", cursive;
  padding: 10px 25px;
  font-size: 25px;
  border-radius: 15px;
  background-color: rgb(250, 235, 215);
}

.btn:hover {
  background-color: rgb(206, 145, 64);
  cursor: pointer;
  color: white;
}
